<div class='pytania'>
<div class='tlo'>
<%= image_tag('/images/image.png').html_safe %>
</div>
<div id='zakladki'>

<div id='linki'>
<ul>
		<li><a href="#" class="active"><span>Offers</span></a></li>
		<li><a href="#"><span>Events</span></a></li>
	</ul>
	</div>
	<div class='tabele'>
<table>


  <tbody>
    <% @events.each do |event| %>
      <tr>
      <td>
        <% if event.photos %>
          <% event.photos.each do |p| %>
            <%= image_tag p.photo_url, :width => 80 %>
            <% break %>
          <% end %>
        <% end %>
      </td>
        <td><p id='t'><%= event.title %></p>
        <p id='data'><%= event.start_date %>
        <%= event.start_time %>
        <%= event.end_time %>
        <%= event.location %>
        <%= event.city %></p>
        <p id='g'><%= event.description %></p>
        <div id='button-list'>
          <p><%= link_to "<button>Show</button>".html_safe, event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
          <%= link_to "<button>Edit</button>".html_safe, (edit_event_path(event) if event.user_id == current_user.id), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
          <%= link_to "<button>Destroy</button>".html_safe, event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip", method: :delete, data: { confirm: 'Are you sure?' } if event.user_id == current_user.id %></p>
        </div>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
