<div class="authform">
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-group"> 
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => true, class: 'form-control' %>
    </div>
    <div  class="form-group"> 
    <%= f.input :description, class: 'form-control' %>
    </div>
    <div  class="form-group"> 
    <%= f.input :start_date %>
    </div>
    <div  class="form-group"> 
    <%= f.input :start_time %>
    </div>
    <div  class="form-group"> 
    <%= f.input :end_time %>
    </div>
    <div  class="form-group"> 
    <%= f.label :location %>
    <%= f.text_field :location, :autofocus => true, class: 'form-control' %>
    </div>
    <div  class="form-group"> 
    <%= f.label :city %>
    <%= f.text_field :city, :autofocus => true, class: 'form-control' %>
    </div>
    <div  class="form-group"> 
    <%= f.hidden_field :user_id %> 
  </div>

  
  <%= f.fields_for :photo do |p| %>
     <div class="field">
       <%= p.label :photo %><br>
       <%= p.file_field :photo, :multiple => true, name: "photos[photo][]", class: 'form-control' %>
     </div>
   <% end %>

   <% if params[:action] == "edit" %> 
     <% @event.photos.each do |p| %>
       <%= image_tag p.photo, :size => "150x150" %>
       
       <%= link_to 'Destroy', p, :class => 'button left',  method: :delete %>
       
     <% end %>
   <% end %>

   <%= f.submit 'Submit', :class => 'button right' %>

  
<% end %>
</div>