<div class='head'>
<h1>New event</h1>
</div>

<%= render 'form' %>

      <%= link_to "<button>Back</button>".html_safe, events_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>