
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geocoding service</title>
    <style>
       #map-canvas {
        height: 500px;
        width: 600px;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 700%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 50px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>

<p id="notice"><%= notice %></p>
<div class='event_view'>


  <p >
    <%= image_tag(@event.picture_url, :width => 600) if @event.picture.present? %>
  </p>

  <div class='head'>
  
   <strong><%= @event.title %></strong> 
  
  </div>
<div id='z'>
    <% @photos.each do |p| %>
    <%= image_tag p.photo_url %>
    <% break %>
  <% end %>
</div>
<div id='txt'>
  <div>
  <%= image_tag('/images/icotime.png').html_safe %>
    <p>
      <strong>Start date:</strong>
     <%= @event.start_date %>
     
    </p>

    <p>
      <strong>Start time:</strong>
      <%= @event.start_time %>
    </p>

    <p>
      <strong>End time:</strong>
      <%= @event.end_time %>
    </p>

    <p>
      <strong>Adress:</strong>
      <%= @event.location %>
    </p>
    <%= image_tag('/images/icoplace.png') %>
    <p>
      <strong>City:</strong>
      <%= @event.city%>
      
    </p>
    </div>
  </div>
<div id='descript'>  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
</div>

<div id='like'>

  <p id='a'>
    <strong>Likes:</strong>
    <%= @event.votes_for.size %>
  </p>

  <p id='l'>  
    <%= link_to " #{image_tag('/images/like.png', width:50)} Like it!".html_safe,  likeit_events_path %>
  </p>

</div>


<script>
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var mapOptions = {
    zoom: 15,
    center: latlng
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var address = '<%= @event.city  %>' + '<%= @event.location %>';
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

}

function codeAddress() {
  var address = '<%= @event.city  %>' + '<%= @event.location %>';
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" style="width: 500px; height: 400px; text-align: center;
    margin: 40px auto 0 auto; border: groove;"></div>

  <div id='photo'>
    <% @photos.each do |p| %>
      <%= image_tag p.photo_url, width:200, height: 200 %>
      <br />
    <% end %>
  </div>
  


  <div id='comment'>
    <%= commontator_thread(@event) %>
  </div>

  <div id='button'>
    <%= link_to "<button>Edit</button>".html_safe,  edit_event_path(@event), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
     <%= link_to "<button>Back</button>".html_safe,  events_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
  </div>

</div>
