<div class="authform">
<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.label :title %>
     <%= f.text_field :title, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.label :cost %>
    <%= f.text_field :cost, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.input :start_date, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.input :end_date, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.label :area %>
     <%= f.text_field :area, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.input :rooms, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.label :localization %>
     <%= f.text_field :localization, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.input :description, :autofocus => true, class: 'form-control' %>
  </div>
       
 

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'button right' %>
  </div>
<% end %>
</div>