<div class='head'>
<h1>Listing offers</h1>
</div>


<div class='tabele'>
<table>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.picture %></td>
        <td><p id='t'><%= offer.title %></p>
        <p id='data'><%= offer.start_date %>
        <%= offer.end_date %>
        <%= offer.localization %></p>
        <p id='g'><%= offer.description %></p>
        <div id='button-list'>
          <%= link_to "<button>Show</button>".html_safe, offer, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
          <%= link_to "<button>Edit</button>".html_safe, edit_offer_path(offer), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
          <%= link_to "<button>Destroy</button>".html_safe,  offer, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip", method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<%= link_to "<button>New Offer</button>".html_safe, new_offer_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>

