<p id="notice"><%= notice %></p>

<div class='event_view'>

<div class='head'>
  <strong><%= @offer.title %></strong>
</div>
<div id='txt'>
<p>
  <strong>Cost:</strong>
  <%= @offer.cost %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @offer.picture %>
</p>

<%= image_tag('/images/icotime.png') %>
<p id='picture'>
  <strong>Start date:</strong>
  <%= @offer.start_date %>

</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <strong>Area:</strong>
  <%= @offer.area %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @offer.rooms %>
</p>

<%= image_tag('/images/icoplace.png') %>
<p id='picture'>
  <strong>Localization:</strong>
  <%= @offer.localization %>
  
</p>
</div>
<div id='descript'> 
<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>
</div>
<%= link_to "<button>Edit</button>".html_safe,  edit_offer_path(@offer), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
   <%= link_to "<button>Back</button>".html_safe,  offers_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
</div>