/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#pytania{ 
  height:680px;
  background: url('image/lol.png') no-repeat 25px 80px;
  }

.tlo{
  margin-top: 50px;
  img{
    margin: 0 auto;
  }
}
 body{
  background: #EEEEEE;
 }

#txt {
  width: 60%;
  float: right;
  margin: auto;
  margin-top: 20px;
  div{
    margin: auto; 
    width: 80%;
  }
}

#z {
  float: left;
  width: 40%;
  img{
    margin-left: 50px;
  }
}

button, input {
  color: #000000;
}

.head{
  font-family: Roboto;
  text-align: center;
 	margin: 0px auto 0 auto;
 	padding: 30px; 
  color: #21a392;
  font-size: 35px;    	
}

.event_view{
  margin-botom: auto;
  margin: 20px auto 0px 100px;
  background: #FFFFFF;
  position: relative; left: 15px;

  element.style{
    margin: 50px auto;
  }

  
  #descript {
    p{
      line-height: 27px; 
      color: #000000;
    }
    clear: both;
    padding-top: 50px;
  }

  #like{
    #a{
      margin-left: 50px;
      margin-bottom: 10px;
    }

    a{
      margon-top: 5px;
    }
    p{
      color: #000000;
      margin: 0px;
    }
    overflow: auto;
    margin-top: 10px;
    float: right;
    width: 25%;
    div{
      margin: auto; 
      
  }
  }

  #comment{
    margin-top: 80px;
  }

  #photo{
    overflow: auto;
    margin-top: 40px;
   

  }

  #button{
    margin-top: 20px;
    clear: both;
    overflow: auto;
  }

  img {
    float: left;
    margin-left: 0px;
    padding-right: 10px;
    }

  p{
    line-height: 20px;
    font-family: 'Roboto';
    color: #708090;
    font-size: 18px;
    margin: 0 50px 10px;
  } 



  #title{
    color: #21a392;
    font-size: 35px;
  }
	
}
 .logo{

    padding: 7px;
 }

.navbar{
	min-height: 100px;
}

.navbar-nav{
	font-size: 14px;
	float: right;
  #registration{
    font-size: 16px;
    padding-top: 25px;
  }
}

#cos {
    float: right;
    width: 24%;
    a{position: relative;}
    margin-top: 100px;
    padding-top: 50px;
    overflow: auto;
    padding-bottom: auto;

  
  #b{
    margin-top: 50px;
    margin-bottom: 40px;
    top:135px;
    left:50px;
  }
  #c{
    top:130px;
    left:50px;}
   
  }
  
  .tabele{

    #button-list{
    margin-top: 20px;
    float: right;
    }
    p{
      margin-bottom: 0px;
      line-height: 25px;


    }
    #g{
        font-famyl: "DejaVu Sans";
        color:  #000000;
        line-height: 17px;
      }
    
  #t{
    font-famyl: "Roboto";
    font-size: 27px;
    color: #21a392;
  }
  #data{
    color: #8D8D8D;
  }
  table {
    display: table;
    font: 90%/1.5em Roboto, "Lucida Grande", Geneva,
                    "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
                    "Lucida sans", "Trebuchet MS", Arial, Verdana;
    text-align: left;
    border: 4px black double;
    border-spacing: 0;
    -moz-border-radius: 6px;
    background: #FFFFFF;


}

td, th {
        padding: 8px;
        text-align: left;
       margin: 10px auto 0 auto;
      
    }

th {
    
    font-size: 90%;
    }

th:first-of-type,
td:first-of-type {
    padding: 0 2em 0 4em
}

th:last-of-type,
td:last-of-type {
    padding: 2em 4em 0 0
}

}

#zakladki {
  margin-top: 50px;
  ul{

  }
    
  li{
    display: inline;
    margin:20px 20px 0px 25px;
    padding-top: 20px;
  }
}
#pytania{ height:680px;
      background: url("images/lol.PNG") no-repeat 25px 80px;}
      #linki{

      li{display: inline;
      margin:20px 20px 0px 25px;
      padding-top: 20px;} }