<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <%= image_tag('/images/l3.png', class: "logo").html_safe %>
       
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <li><%= link_to " #{image_tag('/images/list.png', width:50)} ranking".html_safe,  offers_path %></li>
            <li><%= link_to " #{image_tag('/images/icomyads.png')} my ads".html_safe,  offers_path %></li>
            <li><%= link_to " #{image_tag('/images/icosettings.png')} settings".html_safe, edit_user_registration_path %></li>
            <li><%= link_to " #{image_tag(current_user.avatar_url, width:50)} #{current_user.name} (log out)".html_safe, destroy_user_session_path, :method=>'delete' %></li>
          <% else %>
            <li id='registration'><%= link_to 'Login', new_user_session_path %></li>
            <li id='registration'><%= link_to 'Sign up', new_user_registration_path %></li>
            
        <% end %></p>
      </ul>
    </div>
  </div>
</nav>
